body{
    margin: 0;
    background-color: #edf7fe;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    background-color: whitesmoke;
    width: 70%;
    margin: auto;
    
}

.barra{
    padding-top:130px;
}
.artigo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    padding: 15px;
    padding-top: 0px;
    text-align: justify;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 20px;
}

.tittle1{
padding-bottom: 0px;
font-size: 14px;
padding-top: 10px;
text-align: left;
padding-left: 30px;
color: #003366

}

.tittle2{
    font-size: 18px;
    padding-top: 0px;
    text-align: left;
    padding-left: 30px;
    color: #003366
    }

.tittle3{
    padding-bottom: 0px;
font-size: 14px;
padding-top: 5px;
text-align: left;
padding-left: 30px;
color: #003366

}

.explicando{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    padding: 15px;
    padding-top: 0px;
    text-align: justify;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 20px;
}

.auxílio{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    padding: 15px;
    padding-top: 0px;
    text-align: justify;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 20px;
}

a:link {
 text-decoration: none;
 color: navy;

}

a:hover {
 text-decoration: underline;
}

#topo {
 padding: 4px;
 background-color: #f6eff6;
 text-align: right;
 padding-right: 16px;
}

#navegaçao {
background-color: beige;
margin: 0px;
position: sticky;
top:0px;
}

#destaque {
    height: 300px;
    margin:0px;
    background-color: salmon;
    
}

.menu{
    list-style: none;
    padding: 10px;
}

.menu > li{
    display: inline;
    padding: 16px;
    color: blue;
}
 
.estilo{
    background-color: #f6eff6;
    padding-right: 50px;
    text-align: center;
    padding: 16px;
    position: absolute right;
}