body{
    margin: 0;
    background-color: #edf7fe;
    font-family: Arial, Helvetica, sans-serif; }
    #container{
        background-color: whitesmoke;
        width: 70%;
        margin: auto;  
    }
#topo {
    padding: 4px;
    background-color: #f6eff6;
    text-align: right;
    padding-right: 16px;
   }

   .estilo{
    background-color:  #f6eff6;
    padding-right: 50px;
    text-align: center;
    padding: 16px;
    position: absolute right;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: whitesmoke;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #003366;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: whitesmoke;
    color: blue;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #003366;
    color: whitesmoke;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
.head{
    padding-bottom: 0px;
    font-size: 14px;
    padding-top: 20px;
    text-align: center;
    padding-left: 30px;
    color: gray
    
    
    }
.título{
    font-size: 10px;
    padding-top: 0px;
    text-align: left;
    padding-left: 30px;
    color: #003366

}
.resposta{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    padding: 15px;
    text-align: justify;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 20px;

}

.barra{
    padding-top:30px;
}

#destaque {
  height: 100%;
  margin:0px;
  background-color: #213A7B;
  width: auto;
  
}

a:link {
    text-decoration: none;
    color: navy;
   
   }